---
bookId: {{ bookId | yaml }}
title: {{ longTitle | yaml }}
author: {{ author | yaml }}
highlightsCount: {{ highlightsCount }}
{% if url %}bookUrl: {{ url | yaml }}{% endif %}
{% if lastAnnotatedDate %}lastAnnotatedDate: {{ lastAnnotatedDate | yaml }}{% endif %}
{% if publisher %}publisher: {{publisher | yaml}}{% endif %}
{% if pages %}pages: {{pages}}{% endif %}
{% if publicationDate %}publication_date: {{publicationDate | yaml}}{% endif %}
{% if readingStatus %}status: {{readingStatus}}{% endif %}
{% if addedDate %}added_date: {{addedDate}}{% endif %}
{% if startedDate %}started_date: {{startedDate}}{% endif %}
{% if finishedDate %}finished_date: {{finishedDate}}{% endif %}
{% if translator %}translators: {{translator | yaml}}{% endif %}
{% if imageUrl %}ImageUrl: {{ imageUrl | yaml }}{% endif %}
---
# {{title}}
{% if imageUrl %}![]({{imageUrl}}){% endif %}
{% if description %}

## Description
{{description}}
{% endif %}

## Highlights
{{highlights}}
