---
yandex-books-bookId: {{ bookId | yaml }}
yandex-books-title: {{ longTitle | yaml }}
yandex-books-author: {{ author | yaml }}
yandex-books-highlightsCount: {{ highlightsCount }}
{% if url %}yandex-books-bookUrl: {{ url | yaml }}{% endif %}
{% if lastAnnotatedDate %}yandex-books-lastAnnotatedDate: {{ lastAnnotatedDate | yaml }}{% endif %}
{% if imageUrl %}yandex-books-bookImageUrl: {{ imageUrl | yaml }}{% endif %}
---
# {{title}}
## Metadata
{% trim %}
{% if authorUrl %}
* Author: [{{author}}]({{authorUrl}})
{% elif author %}
* Author: [[{{author}}]]
{% endif %}
{% if bookId %}* Yandex Books ID: {{bookId}}{% endif %}
{% if isbn %}* ISBN: {{isbn}}{% endif %}
{% if pages %}* Pages: {{pages}}{% endif %}
{% if publicationDate %}* Publication: {{publicationDate}}{% endif %}
{% if publisher %}* Publisher: {{publisher}}{% endif %}
{% if url %}* [Yandex Books]({{url}}){% endif %}
{% endtrim %}

## Highlights
{{highlights}}
