# {{title}}
## Metadata
{% trim %}
{% if authorUrl %}
* Author: [{{author}}]({{authorUrl}})
{% elif author %}
* Author: [[{{author}}]]
{% endif %}
{% if bookId %}* Yandex Books ID: {{bookId}}{% endif %}
{% if isbn %}* ISBN: {{isbn}}{% endif %}
{% if pages %}* Pages: {{pages}}{% endif %}
{% if publicationDate %}* Publication: {{publicationDate}}{% endif %}
{% if publisher %}* Publisher: {{publisher}}{% endif %}
{% if url %}* [Yandex Books]({{url}}){% endif %}
{% endtrim %}

## Highlights
{{highlights}}
